<div id="requestSettings">
    <card [title]="'Request Settings'" [width]="360" [height]="230">
        <div class="body">
            <form style="position: relative;" autocomplete="off">
                <div class="form-group">
                    <input [(ngModel)]="defaultSettings.url" id="url" name="url" placeholder="Default URL" type="text"
                        class="form-control">
                </div>
                <div class="form-group">
                    <select [(ngModel)]="defaultSettings.method" name="methodSelect" class="form-control method-select">
                        <option [value]="method.DEFAULT">{{method.DEFAULT}}</option>
                        <option [value]="method.GET">{{method.GET}}</option>
                        <option [value]="method.POST">{{method.POST}}</option>
                        <option [value]="method.PUT">{{method.PUT}}</option>
                        <option [value]="method.DELETE">{{method.DELETE}}</option>
                    </select>
                </div>
                <div class="form-group timeout-sector">
                    <table>
                        <tr>
                            <td>
                                <div class="timeout-title">Request Timeout</div>
                                <input (change)="timeoutChanged()" [min]="minTimeout" [max]="maxTimeout"
                                    [(ngModel)]="defaultSettings.timeout" id="timeout" name="timeout" type="number"
                                    class="timeout-input form-control">
                            </td>
                            <td>
                                <span class="timeout-unit">(milliseconds)</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <i (click)="setDefault()" class="save-icon far fa-arrow-alt-circle-right"></i>
    </card>
</div>