.form-group {
    position: relative;
    margin-bottom: 20px;
}

.empty-env {
    text-align: center;
    width: 480px;
    margin: auto;
    margin-top: 25px;
}

.title {
    font-weight: bold;
}

.info {
    text-align: left;
}

.add-env-btn {
    margin-top: 10px;
    text-transform: none;
}

.env-body {
    padding: 20px;
}

.new-env-name {
    margin-bottom: 15px;
}

.new-env-values {
    height: calc(100% - 160px);
    overflow-y: auto;
}

.add-env-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.add-env-icon:hover {
    color: #696969;
}

.microtext {
    font-size: 11px;
    position: absolute;
    color: var(--microtext-color) !important;
    bottom: -22px;
    left: 0px;
}

.env-items-container {
    margin-top: 20px;
    height: calc(100% - 130px);
    overflow-y: auto;
}

.env-item {
    margin-top: 15px;
    height: 40px;
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    position: relative;
}

.env-name {
    margin-left: 3px;
}

.action-btns {
    right: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
}

.action-icon {
    margin: 0 8px;
    cursor: pointer;
}