<div id="apiGenerator">
    <card [title]="'API Requst Generator'" [width]="380" [height]="350">
        <div class="card-body">
            <form autocomplete="off">
                <div class="form-group">
                    <label class="input-title">API Url</label>
                    <input disabled type="text" name="apiUrl" [ngModel]="getApiUrl()"
                        class="api-input api-input-text api-url">
                </div>
                <div class="form-group">
                    <label class="input-title">API Key</label>
                    <input disabled [type]="isShowApiKey ? 'text' : 'password'" name="apiKey" [ngModel]="apiKey"
                        class="api-input api-input-text">
                    <i [title]="isShowApiKey ? 'Hide Key': 'Show Key'"
                        class="far {{isShowApiKey ? 'fa-eye-slash' : 'fa-eye'}} show-key-icon"
                        (click)="showHideApiKey()"></i>
                </div>
                <div class="form-group">
                    <label class="input-title">Project</label>
                    <select class="api-input api-select" (change)="api.env = null;" [(ngModel)]="api.project"
                        name="projectName">
                        <option [value]="project.name" *ngFor="let project of projects">{{project.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-title">Env</label>
                    <select class="api-input api-select" [(ngModel)]="api.env" name="envName">
                        <option [ngValue]="null">No Environment</option>
                        <option [value]="envName" *ngFor="let envName of getSelectedProject().environments">{{envName}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="input-title">Action</label>
                    <select class="api-input api-select" [(ngModel)]="api.action" name="selectedApiAction">
                        <option [value]="apiAction.START">Run</option>
                        <option [value]="apiAction.STOP">Stop</option>
                    </select>
                </div>
            </form>
            <div class="copy-btn" (click)="getApiRequest()">Create And Copy <i class="far fa-copy copy-icon"></i></div>
        </div>
    </card>
</div>