.card-body {
    padding: 30px 20px 0px 20px;
}

form {
    margin: 0;
}

.form-group {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 25px !important;
}

.input-title {
    font-size: 12px;
    user-select: none;
    position: absolute;
    top: -15px;
    left: 2px;
}

.show-key-icon {
    font-size: 16px;
    cursor: pointer;
    margin-left: 14px;
    user-select: none;
    position: absolute;
    right: 10px;
}

.api-input {
    width: 100%;
    height: 35px;
}

.api-input-text {
    border: 1px solid #565656;
    padding: 5px 8px !important;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-size: 15px !important;
    text-align: center;
    cursor: text;
}

:host-context(.dark) .api-input-text {
    color: var(--main-text-color);
}

.api-select {
    border-radius: 3px;
    padding: 5px 8px !important;
    background-color: transparent;
    user-select: none;
}

:host-context(.dark) .api-select {
    color: var(--main-text-color);
}

select option {
    color: black;
}

.api-url {
    text-align: left;
    font-size: 13px !important;
}

.copy-btn {
    user-select: none;
    cursor: pointer;
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #2196f3;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    width: 155px;
}

.copy-btn:hover {
    background-color: #34a0f6;
}

:host-context(.dark) .copy-btn {
    background-color: #495057;
}

:host-context(.dark) .copy-btn:hover {
    background-color: #586169;
}

.copy-icon {
    margin-left: 5px;
    font-size: 14px;
}