.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
}

.card-container {
    position: fixed;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 8px 1px #424242;
    z-index: 2;
}

.top-sector {
    position: relative;
    height: 38px;
    width: 100%;
    background-color: #1e88f9;
    box-shadow: 0px 1px 1px 0px #848484;
    color: whitesmoke;
    display: flex;
    align-items: center;
    user-select: none;
}

.close-icon {
    position: absolute;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}

.close-icon:hover {
    color: #ffffff;
}

.title {
    text-align: center;
    font-size: 16px;
    margin-left: 15px;
}