.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.35);
}

.card-container {
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 1px 1px 8px 1px #686868;
    z-index: 2;
}