<div id="register">
    <header class="header" [isClickable]="true"></header>
    <div class="sub-header">Create your account</div>
    <div class="container">
        <div (keyup.enter)="register()" class="row card-container col-md-4 col-11">
            <div class="loader-overlay" *ngIf="isLoading"></div>
            <loader-spinner class="loader" *ngIf="isLoading"></loader-spinner>
            <form autocomplete="off">
                <div class="form-group bmd-form-group">
                    <label for="register-username" class="bmd-label-floating">Username</label>
                    <input id="register-username" name="username" [(ngModel)]="user.username" type="text"
                        class="form-control user-input" (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="register-username-micro" class="microtext"></label>
                </div>
                <div class="form-group bmd-form-group">
                    <label for="register-email" class="bmd-label-floating">Email Address</label>
                    <input id="register-email" name="email" [(ngModel)]="user.email" type="email"
                        class="form-control user-input" (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="register-email-micro" class="microtext"></label>
                </div>
                <div class="form-group bmd-form-group">
                    <label for="register-password" class="bmd-label-floating">Password</label>
                    <input id="register-password" name="password" [(ngModel)]="user.password" type="password"
                        class="form-control user-input" (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="register-password-micro" class="microtext"></label>
                </div>
                <div class="form-group" style="margin: 0;">
                    <button type="button" id="register-btn" (click)="register()"
                        class="col-12 btn btn-primary register-btn">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>