.container {
    width: 800px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.data {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

info-card {
    width: 100%;
}

@media (max-aspect-ratio: 8/5) {
    .container {
        width: 80%;
    }
}