<div id="verification" [ngClass]="{'card-container-mini': isValid}" class="card-container">
    <header class="header"></header>
    <div class="data-container">
        <div class="title">User Verification</div>
        <loader-spinner *ngIf="isLoading" class="loader"></loader-spinner>
        <div *ngIf="!isLoading">
            <div *ngIf="isValid" class="info-text">
                <p>
                    <strong>Your account has been activated.</strong>
                </p>
                <p>Please login <a class="login-btn" href="/login">here</a> and enjoy!</p>
            </div>
            <div *ngIf="!isValid" class="info-text">
                <p>
                    <strong>The link to verify your email address is either invalid or has expired.</strong>
                </p>
                <p>Please login <a class="login-btn" href="/login">here</a> to send the verification email again.</p>
            </div>
        </div>
    </div>
</div>