<div id="verification" [ngClass]="{'card-container-mini': isValid}" class="card-container">
    <header class="header"></header>
    <div class="data-container">
        <div class="title">Account Verification</div>
        <loader-spinner *ngIf="isLoading" class="loader"></loader-spinner>
        <div *ngIf="!isLoading">
            <div *ngIf="verificationCode">
                <div *ngIf="isValid" class="info-text">
                    <p>
                        <strong>Welcome {{username}}</strong><br>
                        <strong>Your account has been activated.</strong>
                    </p>
                    <p>Please login <a class="action-btn" href="/login">here</a> and enjoy!</p>
                </div>
                <div *ngIf="!isValid" class="info-text">
                    <p>
                        <strong>The link to verify your email address is either invalid or has expired.</strong>
                    </p>
                    <p>Please login <a class="action-btn" href="/login">here</a> to send the verification email again.
                    </p>
                </div>
            </div>
            <div *ngIf="userUid">
                <div class="info-text">
                    <h4 class="verify-title">Hello {{username}}</h4>
                    <i class="far fa-smile-beam verify-title-icon"></i>
                    <p>
                        <strong>A link to verify your email address was sent to your email.</strong><br>
                    </p>
                    <p>
                        Click <span (click)="resendVerification()" class="action-btn">here</span>
                        to send verification email again.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>