<div id="navbar">
    <div class="navbar-container">
        <div class="logo-container" (click)="navigateMain()">
            <img class="logo-image" [src]="globalService.getLogoIcon()">
        </div>
        <div class="tabs" [ngStyle]="{'column-count': tabs.length}">
            <span class="tab" [ngClass]="{'clicked-tab': tab.isClicked}" (click)="tabClick(tab.url)"
                *ngFor="let tab of tabs">
                {{tab.name}}
            </span>
        </div>
        <div class="logout-container" (click)="logout()">
            <span class="logout-text">Logout</span>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </div>
</div>