<div id="templates" class="empty-dropzone">
    <div class="cards-top">
        <span data-tooltip="Request Settings" class="tooltip-top-left top-icon settings-icon"
            (click)="isShowRequestSettings=true;">
            <i class="fas fa-cog"></i>
        </span>
        <span>Templates</span>
        <span *ngIf="requests.length > 0" data-tooltip="Add Request" class="tooltip-top-right top-icon plus-icon"
            (click)="isShowRequestCard=true;">
            <i class="far fa-plus-square"></i>
        </span>
    </div>
    <div class="cards-container">
        <div id="card-{{i}}" class="card-sector draggable" (click)="openRequestEdit(request)"
            *ngFor="let request of requests; index as i">
            <div class="card-name" [title]="request.name">{{request.name}}</div>
            <i name="delete-icon" (click)="deleteRequest(i, $event)" class="far fa-trash-alt delete-request-icon"></i>
        </div>
        <div *ngIf="requests.length == 0" class="card-sector add-card" (click)="isShowRequestCard=true;">
            <div class="new-card-content">
                <div class="plus-txt">New Request</div>
            </div>
        </div>
    </div>
    <request-card [defaultSettings]="defaultSettings" [selectedRequest]="selectedRequest" *ngIf="isShowRequestCard">
    </request-card>
    <request-settings [projectId]="projectId" [originalDefaultSettings]="defaultSettings" *ngIf="isShowRequestSettings">
    </request-settings>
</div>