<div id="forgotPassword">
    <header class="header" [isClickable]="true"></header>
    <div class="sub-header">Reset your password</div>
    <div class="container">
        <div (keyup.enter)="forgot()" class="row card-container col-md-4 col-11">
            <div class="loader-overlay" *ngIf="isLoading"></div>
            <loader-spinner class="loader" *ngIf="isLoading"></loader-spinner>
            <form autocomplete="off">
                <div class="form-group">
                    <i class="fas fa-user input-icon"></i>
                    <input id="forgot-username" name="username" [(ngModel)]="username"
                        placeholder="Username or email address" type="text" class="form-control user-input"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="forgot-username-micro" class="microtext"></label>
                </div>
                <div class="form-group" style="margin: 0;">
                    <button type="button" id="forgot-btn" (click)="forgot()"
                        class="col-12 btn btn-primary forgot-btn">Send Password Reset Email</button>
                </div>
            </form>
        </div>
    </div>
</div>