<div id="forgotPassword">
    <card [title]="'Restore Password'" [width]="350" [height]="150">
        <div class="body">
            <div class="loader-overlay" *ngIf="isLoading"></div>
            <loader-spinner class="loader" *ngIf="isLoading"></loader-spinner>
            <form autocomplete="off">
                <div class="form-group">
                    <i class="fas fa-user input-icon"></i>
                    <input id="forgot-username" name="username" [(ngModel)]="loginString"
                        placeholder="Username or email address" type="text" class="form-control user-input"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="forgot-username-micro" class="microtext"></label>
                </div>
            </form>
        </div>
        <i (click)="forgot()" class="forgot-icon far fa-arrow-alt-circle-right"></i>
    </card>
</div>