<div id="matrix">
    <div class="matrix-top">
        <span *ngIf="!isSendMode" class="matrix-top-buttons">
            <i (click)="compressMatrix()" title="Compress Matrix" class="fas fa-compress compress-icon"></i>
            <div *ngIf="isMatrixNotEmpty()" (click)="sendRequests()" class="send-btn-container">
                <i class="far fa-paper-plane"></i>
            </div>
        </span>
        <span *ngIf="isSendMode" class="matrix-top-buttons">
            <span *ngIf="requestsAmount > resultsAmount" class="matrix-top-buttons">
                <loader-dots css='{"font-size": "10px", "padding-top": "15px"}'>
                </loader-dots>
                <i (click)="stopRequests()" class="fas fa-stop stop-requests-icon" title="Stop Requests"></i>
            </span>
            <span *ngIf="requestsAmount == resultsAmount" class="matrix-top-buttons">
                <i (click)="closeReport()" title="Close Report" class="fas fa-times report-icon close-report-icon"></i>
            </span>
        </span>
        <span>{{projectName + " - " + (isSendMode ? "Report": "Matrix")}}</span>
    </div>
    <div *ngIf="isSendMode" class="load-progress-container">
        <div class="load-progress" [ngStyle]="{'width': (resultsAmount / requestsAmount * 100) + '%'}"></div>
    </div>
    <div id="matrix-container" class="matrix-container">
        <table>
            <tr *ngFor="let row of matrix; index as i">
                <td id="matrix-{{i + '-' + j}}" class="cell dropzone" *ngFor="let col of matrix[i]; index as j; ">
                    <cell [row]="i" [col]="j" [request]="matrix[i][j]"
                        [result]="report && report.results[matrix[i][j].id]" [isSendMode]="isSendMode"
                        [maxRequestAmount]="maxRequestAmount" [isLastCell]="isLastCellOnMatrix()"></cell>
                </td>
                <td *ngIf="!isSendMode" class="cell plus-sector" (click)="addCol(i)">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Sync)</div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!isSendMode">
                <td class="cell plus-sector" (click)="addRow()">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Async)</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <request-card [selectedRequest]="selectedRequest" *ngIf="isShowRequestCard"></request-card>
</div>