<div id="matrix">
    <div class="matrix-top">
        <span>Matrix</span>
    </div>
    <div id="matrix-container" class="matrix-container">
        <table>
            <tr *ngFor="let row of matrix; index as i">
                <td id="matrix-{{i + '-' + j}}" class="cell dropzone" *ngFor="let col of matrix[i]; index as j">
                    <cell [request]="matrix[i][j]" [row]="i" [col]="j" (dblclick)="deleteCell(i, j)"></cell>
                </td>
                <td class="cell plus-sector" (click)="addCol(i)">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Sync)</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell plus-sector" (click)="addRow()">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Async)</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>