<div id="matrix">
    <div class="matrix-top">
        <span *ngIf="!isSendMode" class="matrix-top-buttons">
            <span data-tooltip="Compress Matrix" class="top-icon compress-icon" (click)="compressMatrix()">
                <i class="fas fa-compress"></i>
            </span>
            <span data-tooltip="Manage Environments" class="top-icon env-icon" (click)="isShowEnvironments=true;">
                <i class="fas fa-broadcast-tower"></i>
            </span>
            <span *ngIf="!isMatrixEmpty()" data-tooltip="Send" class="top-icon send-btn-icon" (click)="sendRequests()">
                <i class="far fa-paper-plane"></i>
            </span>
        </span>
        <span *ngIf="isSendMode" class="matrix-top-buttons">
            <span *ngIf="requestsAmount > resultsAmount" class="matrix-top-buttons">
                <loader-dots class="loader-dots" css='{"font-size": "10px", "padding-top": "15px"}'>
                </loader-dots>
                <i (click)="stopRequests()" class="fas fa-stop stop-requests-icon"></i>
            </span>
            <span *ngIf="requestsAmount == resultsAmount" class="matrix-top-buttons">
                <i (click)="closeReport()" class="fas fa-times report-icon close-report-icon"></i>
            </span>
        </span>
        <span>{{projectName + " - " + (isSendMode ? "Report": "Matrix")}}</span>
    </div>
    <div *ngIf="isSendMode" class="load-progress-container">
        <div class="load-progress" [ngStyle]="{'width': (resultsAmount / requestsAmount * 100) + '%'}"></div>
    </div>
    <div id="matrix-container" class="matrix-container">
        <table>
            <tr *ngFor="let row of matrix; index as i">
                <td id="matrix-{{i + '-' + j}}" class="cell dropzone" *ngFor="let col of matrix[i]; index as j">
                    <cell [row]="i" [col]="j" [request]="matrix[i][j]"
                        [result]="report && report.results[matrix[i][j].id]" [isSendMode]="isSendMode"
                        [maxRequestAmount]="maxRequestAmount" [isLastCell]="isLastCellOnMatrix()"></cell>
                </td>
                <td *ngIf="!isSendMode" class="cell plus-sector" (click)="addCol(i)">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Sync)</div>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!isSendMode">
                <td class="cell plus-sector" (click)="addRow()">
                    <div class="plus-icon-container">
                        <i class="add-icon far fa-plus-square"></i>
                        <div class="plus-txt">(Async)</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <request-card *ngIf="isShowRequestCard" [selectedRequest]="selectedRequest"></request-card>
    <environments *ngIf="isShowEnvironments" [projectId]="projectId"></environments>
</div>