#matrix {
    position: relative;
}

.matrix-top {
    font-size: 16px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    border-bottom: 0.5px solid #adadad;
    user-select: none;
    position: relative;
}

.matrix-container {
    margin: 15px;
    width: auto;
    height: calc(100% - 65px);
    overflow: auto;
    user-select: none;
    position: relative;
}

.cell {
    position: relative;
    border: 1px dashed black;
    text-align: center;
    transition: background-color 0.3s;
}

.plus-sector:hover {
    background-color: #e4e4e4;
}

.plus-icon-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.add-icon {
    font-size: 20px;
}

.plus-txt {
    position: absolute;
    font-size: 14px;
    bottom: calc(50% - 30px);
}

.drop-target {
    background-color: #29e;
    border-color: #555555 !important;
    color: white;
}

.drop-active {
    border-width: 2px;
    border-color: #353535;
}

.cell-icon {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
}

.info-cell {
    left: 10px;
    bottom: 10px;
}

.delete-cell {
    left: 10px;
    top: 10px;
}

.delete-cell:hover {
    color: #656565;
}

.compress-icon {
    position: absolute;
    right: 18px;
    font-size: 18px;
    cursor: pointer;
}

.send-btn-container {
    cursor: pointer;
    position: absolute;
    left: 18px;
    font-size: 16px;
}

.send-btn-container:hover {
    background-color: #e7e7e7;
}

result-info {
    position: absolute;
    bottom: 6px;
    left: 8px;
}