.cell {
    border: 1px dashed black;
    min-width: 150px;
    height: 150px;
    text-align: center;
    padding: 5px;
    transition: background-color 0.4s;
}

.plus-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus-txt {
    position: absolute;
    bottom: calc(50% - 30px);
}

.drop-target {
    background-color: #29e;
    border-color: #555555 !important;
    color: white;
}

.drop-active {
    border-width: 2px;
    border-color: #353535;
}