.action-line {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 15px
}

.action-icon {
    font-size: 24px;
    align-self: center;
    cursor: pointer;
}

.loader-spinner {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
}