.board-container {
    --cards-secotr-width: 345px;
    position: relative;
    height: calc(100% - 15px);
    border: 1px solid var(--main-border-color);
    border-top: none;
    padding: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.board-container-send-mode {
    box-shadow: 1px 1px 6px 4px #c1c1c1;
}

.sector {
    height: 100%;
}

.matrix-sector {
    height: 100%;
    width: calc(100% - var(--cards-secotr-width));
    float: left;
    border-right: 1px solid var(--main-border-color);
    position: relative;
}

.send-mode {
    width: 100%;
    border-right: none;
}

.cards-sector {
    width: var(--cards-secotr-width);
    float: right;
    position: relative;
    user-select: none;
}