#board {
    --cards-secotr-width: 345px;
    border: 0.5px solid var(--main-border-color);
    border-top: none;
}

.sector {
    height: calc(100% - 15px);
    max-height: 800px;
}

.matrix-sector {
    height: 100%;
    width: calc(100% - var(--cards-secotr-width));
    float: left;
    border-right: 0.5px solid var(--main-border-color);
}

.cards-sector {
    width: var(--cards-secotr-width);
    float: right;
    position: relative;
    padding-bottom: 10px;
    user-select: none;
}
