#board {
    --cards-secotr-width: 345px;
    border: 0.5px solid var(--main-border-color);
    border-top: none;
    position: relative;
    height: calc(100% - 15px);
}

.sector {
    height: 100%;
}

.matrix-sector {
    height: 100%;
    width: calc(100% - var(--cards-secotr-width));
    float: left;
    border-right: 0.5px solid var(--main-border-color);
    position: relative;
}

.send-mode {
    width: 100%;
    border-right: none;
}

.cards-sector {
    width: var(--cards-secotr-width);
    float: right;
    position: relative;
    user-select: none;
}

@media (max-aspect-ratio: 8/5) {
    #board {
        height: 100%
    }
}