<div id="board">
    <div class="matrix-sector">
        <div id="matrix-container" class="matrix-container">
            <matrix></matrix>
        </div>
    </div>
    <div class="cards-sector">
        <div class="request-card" *ngFor="let card of requestCards">
            <div class="card-name">{{card.name}}</div>
        </div>
        <div class="request-card add-card" (click)="isShowCard=true;">
            <div class="new-card-content">                
                <div class="plus-txt">New Request</div>
            </div>
        </div>
    </div>
    <card *ngIf="isShowCard"></card>
</div>