<div id="board">
    <loader-rings *ngIf="isLoading"></loader-rings>
    <div class="board-container" [ngClass]="{'board-container-send-mode': isSendMode}" *ngIf="!isLoading">
        <div class="sector">
            <div class="matrix-sector" [ngClass]="{'send-mode': isSendMode}">
                <matrix [projectId]="projectId" [projectName]="projectName" [matrix]="matrix" [isSendMode]="isSendMode"
                    [report]="report" [maxRequestAmount]="maxRequestAmount" [requestTimeout]="defaultSettings.timeout">
                </matrix>
            </div>
            <div class="cards-sector" *ngIf="!isSendMode">
                <templates [projectId]="projectId" [requests]="requests" [defaultSettings]="defaultSettings">
                </templates>
            </div>
        </div>
    </div>
</div>