.sector {
    margin: auto;
    width: 80%;
}

.main-container {
    height: calc(100% - var(--navbar-height));
    position: relative;
}

@media (max-aspect-ratio: 8/5) {
    .sector {
        width: 95%;
    }
}