<div id="resetPassword" class="container">
    <header></header>
    <div class="title">Reset Password</div>
    <div (keyup.enter)="setPassword()" class="row card-container col-md-4 col-11">
        <form>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="newPassword.text" id="password-text" class="form-control user-input"
                        type="password" name="password-text" (keydown)="hideMicrotext($event.srcElement.id + '-micro')"
                        placeholder="New Password" autocapitalize="off" autocomplete="off">
                    <label id="password-text-micro" class="microtext"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12 no-padding">
                    <input [(ngModel)]="newPassword.confirm" id="password-confirm" class="form-control user-input"
                        type="password" name="password-confirm"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')" placeholder="Confirm New Password"
                        autocapitalize="off" autocomplete="off">
                    <label id="password-confirm-micro" class="microtext"></label>
                </div>
            </div>
        </form>
    </div>
</div>