<div id="resetPassword" class="card-container">
    <header class="header"></header>
    <div class="data-container">
        <div class="title">Reset Password</div>
        <div (keyup.enter)="setPassword()">
            <form>
                <div class="form-group">
                    <input [(ngModel)]="newPassword.text" id="password-text" class="form-control user-input"
                        type="password" name="password-text" (keydown)="hideMicrotext($event.srcElement.id + '-micro')"
                        placeholder="New Password" autocapitalize="off" autocomplete="off">
                    <label id="password-text-micro" class="microtext"></label>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="newPassword.confirm" id="password-confirm" class="form-control user-input"
                        type="password" name="password-confirm"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')" placeholder="Confirm New Password"
                        autocapitalize="off" autocomplete="off">
                    <label id="password-confirm-micro" class="microtext"></label>
                </div>
            </form>
        </div>
        <button class="save-btn" (click)="setPassword()">Save</button>
    </div>
</div>