#infoCard {
    display: flex;
}

.container {
    height: 220px;
    width: 320px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #afafaf;
    position: relative;
    user-select: none;
}

.title {
    font-size: 26px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid gray;
    width: 140px;
    margin: auto;
}

.value {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
}