<div id="projects">
    <loader-rings *ngIf="isLoading"></loader-rings>
    <div *ngIf="!isLoading">
        <div class="projects-container">
            <div *ngIf="projects.length == 0" (click)="isNewProjectCard=true;" class="project empty-project">
                <span class="empty-project-name">New Project</span>
            </div>
            <project *ngFor="let project of projects" [project]="project" class="project"
                [ngClass]="{'single-project' : projects.length == 1}">
            </project>
        </div>
        <div *ngIf="projects.length > 0" (click)="isNewProjectCard=true;" class="add-project-btn">
            <i class="fas fa-plus"></i>
        </div>
        <project-name-card *ngIf="isNewProjectCard"></project-name-card>
    </div>
</div>