.projects-container {
    width: 100%;
    max-height: 100%;
    position: relative;
    overflow-y: auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: calc(33.333% - 20px);
    height: 200px;
    box-shadow: 0px 0px 5px 1px #a2a2a2;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.empty-project {
    box-shadow: none;
    border: 1px dashed black;
}

.name {
    align-self: center;
    font-size: 24px;
}

.add-project-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 2px rgb(171, 171, 171);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.delete-icon {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    left: 10px;
    top: 10px;
}

.delete-icon:hover {
    color: #656565;
}