<div id="apiManager">
    <loader-dots *ngIf="isLoading" css='{"font-size": "14px", "text-align": "center", "padding-top": "30px"}'>
    </loader-dots>
    <div *ngIf="!isLoading" class="api-content">
        <div class="api-info">
            <h2 class="api-title">
                Bomba API
            </h2>
            <p>
                The Bomba API allows users to start bomba projects or<br>
                stop their running remotly.
            </p>
            <p>
                It can be used in many ways, and sometimes it might be easier.<br>
                For example, building CI/CD pipeline for load tests, running QA automation and more...
            </p>
            <br>
            <h4>How do I get started?</h4>
            <p>
                In order to get started, you need a server, pipeline or a tool that can send REST requests.<br>
                After that, you can start bombing with your API key.
            </p>
            <br>
            <h4>How to use the API key?</h4>
            <p>
                To build an API request you can use the API generator.
            </p>
        </div>
        <div class="api-gen-btn" (click)="openGenerator()">Create API Request</div>
        <api-generator *ngIf="isApiGenerator" [apiKey]="apiKey" [projectsNames]="projectsNames"></api-generator>
    </div>

</div>