<div id="apiManager">
    <loader-dots *ngIf="!apiKey" css='{"font-size": "14px", "text-align": "center", "padding-top": "30px"}'>
    </loader-dots>
    <div *ngIf="apiKey" class="api-content">
        <div class="api-info">
            <h2 class="api-title">
                Bomba API
            </h2>
            <p>
                The Bomba API allows users to run bomba projects remotly,<br>
                stop their running and to schedule projects to run on a specific time.
            </p>
            <p>
                It can be used in many ways, and Sometimes it might be easier.<br>
                For example, building a CI/CD stage for load tests, running QA automation and more...
            </p>
            <br>
            <h4>How do I get started?</h4>
            <p>
                In order to get started, you need a server or a tool that can send REST requests.<br>
                After that, click <span (click)="copyApiKey()" class="copy-btn">here</span> to copy your API key to the
                clipboard.
            </p>
            <br>
            <h4>How to use the API key?</h4>
            <p>
                To build an API request you can use the API generator.
            </p>
        </div>
        <div class="api-gen-btn">Create API request</div>
        <!-- <api-generator></api-generator> -->
    </div>

</div>