#cell {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.marked-cell {
    background-color: #e0e0e0;
}

.clickable {
    cursor: pointer;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-index {
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 10px;
}