#cell {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 10px;
    font-size: 14px;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-index {
    font-size: 16px;
}

.req-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.control-sector {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.amount-number {
    margin-right: 12px;
    margin-bottom: 8px;
    float: right;
}

.amount-input {
    width: 50px;
    font-size: 12px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    float: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
   margin: -3px;
}