<div id="cell">
    <div class="body" [ngSwitch]="request.isEmpty">
        <div *ngSwitchCase="true" class="cell-index">{{col + 1}}</div>
        <div *ngSwitchCase="false" class="req-name" [title]="request.name">{{request.name}}</div>
    </div>
    <div *ngIf="!request.isEmpty" class="control-sector">
        <div [ngSwitch]="isSendMode">
            <input *ngSwitchCase="false" type="number" (change)="amountChanged()" class="amount-input form-control"
                [(ngModel)]="request.amount" min="1" [max]="maxRequestAmount">
            <span *ngSwitchCase="true" class="amount-number">{{request.amount}}</span>
        </div>
    </div>
    <div [ngSwitch]="isSendMode">
        <span *ngSwitchCase="false">
            <i *ngIf="!request.isEmpty" class="far fa-edit cell-icon info-cell" (click)="openRequestEdit()"></i>
            <i *ngIf="!isLastCell || !request.isEmpty" (click)="deleteCell()"
                class="fas fa-times cell-icon delete-cell"></i>
        </span>
        <span *ngSwitchCase="true">
            <result-info class="result-info" [request]="request" [result]="result">
            </result-info>
            <div *ngIf="getResultAverageTime(); let reqAvg" class="time-overlay">
                Average time: {{reqAvg}} (s)
            </div>
        </span>
    </div>
</div>