#cell {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-index {
    font-size: 16px;
}

.cell-icon {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
}

.info-cell {
    left: 10px;
    bottom: 10px;
}

.delete-cell {
    left: 10px;
    top: 10px;
}

.delete-cell:hover {
    color: #656565;
}

.time-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.time-overlay:hover {
    opacity: 1 !important;
    padding-top: 10px;
    font-size: 11px;
    transition: opacity 0.08s;
}

.req-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.control-sector {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.amount-number {
    margin-right: 12px;
    margin-bottom: 8px;
    float: right;
}

.amount-input {
    width: 50px;
    font-size: 12px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    float: right;
}

.result-info {
    position: absolute;
    bottom: 4px;
    left: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
   margin: -3px;
}
