<div id="users">
    <div class="users-container">
        <div class="input-container">
            <div class="form-group">
                <input id="users-search-input" [(ngModel)]="searchInput" (keyup.enter)="searchUser()"
                    class="form-control search-input" placeholder="Search User" autocapitalize="off" autocomplete="off"
                    autocorrect="off" spellcheck="false" type="text" maxlength="30">
                <div *ngIf="!isLoading" class="search-user-btn" (click)="searchUser()"
                    [ngClass]="{'search-user-btn-disabled': searchInput == '', 'search-user-btn-active': searchInput && searchInput.length > 0}">
                    <i class="fas fa-search search-user-btn-icon"></i>
                </div>
                <loader-dots *ngIf="isLoading" class="user-loading"
                    css='{"font-size": "10px", "position": "absolute", "right": "-40px", "top": "28px"}'>
                </loader-dots>
            </div>
        </div>
    </div>
</div>