<div id="tracker">
    <div class="tracker-container">
        <div class="control-menu">
            <div *ngIf="isLoadingChart" class="control-menu-overly">
                <loader-dots
                    css='{"text-align": "center", "width": "100%", "font-size": "16px", "position": "absolute", "top": "16px"}'>
                </loader-dots>
            </div>
            <span *ngFor="let menu of menus" class="tab-container" (click)="menu.onClick()">
                <span [attr.data-tooltip]="menu.title" class="tooltip-bottom tab">
                    <i class="tab-icon {{menu.icon}}"></i>
                </span>
            </span>
        </div>
        <div class="chart-container">
            <div *ngIf="chart" class="chart-dates-container">
                <i (click)="getPreviousDatesRangePeriod()" class="fas fa-arrow-circle-left change-date-range-icon"></i>
                <div class="dates-range-string-title">{{datesRangeString}}</div>
                <i (click)="getNextDatesRangePeriod()" [ngClass]="{'disable-btn': datesRangeMovementIndex == 0}"
                    class="fas fa-arrow-circle-right change-date-range-icon"></i>
                <div class="chart-top-details-container">
                    <div class="chart-title-container">{{chartTitle}}</div>
                    <span class="user-data-container" *ngIf="username" (click)="clearUserChart()">
                        - <span> {{username}}</span>
                    </span>
                </div>
            </div>
            <div [hidden]="chart" class="no-chart-container">
                <span>Tracker</span>
                <i class="far fa-chart-bar"></i>
            </div>
            <canvas [hidden]="!chart" id="statistics-chart"></canvas>
        </div>

        <div *ngFor="let menu of menus">
            <card *ngIf="menu.isOpen" [title]="menu.title" [icon]="menu.icon" [width]="menu.width" [height]="menu.height">
                <div class="body">
                    <!-- In case of options select list -->
                    <div *ngIf="menu.options">
                        <div *ngFor="let option of menu.options; let i=index;" class="menu-option">
                            <div (click)="selectOption(menu.options, i)">
                                <i class="far fa-{{option.isSelected ? 'dot-' : ''}}circle"></i>
                                <span class="option-text">{{option.text}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- In case of user search -->
                    <div *ngIf="menu.type=='user-search'">
                        <loader-dots *ngIf="menu.isLoaderActive"
                            css='{"font-size": "10px", "position": "absolute", "bottom": "0px"}'>
                        </loader-dots>
                        <div class="form-group bmd-form-group">
                            <label for="user-search" class="bmd-label-floating">Username or email address</label>
                            <input [(ngModel)]="usernameInput" (keyup)="hideMicrotext('username-micro')"
                                (keyup.enter)="menu.onConfirm(menu.options)" id="user-search" name="user-search"
                                (keydown)="hideMicrotext('username-micro')" class="form-control" type="text"
                                autocorrect="off" autocapitalize="off" spellcheck="false">
                            <span id="username-micro" class="microtext"></span>
                        </div>
                    </div>
                    <div class="menu-footer">
                        <a (click)="menu.onCancel()" class="btn btn-default cancel-btn">Cancel</a>
                        <a (click)="menu.onConfirm(menu.options)"
                            [ngClass]="{'accept-btn-disabled': menu.isDisableConfirm && menu.isDisableConfirm()}"
                            class="btn btn-primary save-charts-menu-btn">Confirm</a>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>