<div id="login" class="container">
	<header class="header"></header>
	<div (keyup.enter)="loginEnter()" class="row card-container col-md-4 col-11">
		<div class="loader-overlay" *ngIf="isLoading"></div>
		<loader-spinner class="loader" *ngIf="isLoading"></loader-spinner>
		<form>
			<div class="form-group">
				<input [(ngModel)]="user.username" id="login-username" class="form-control user-input" type="text"
					name="username" (keydown)="hideMicrotext($event.srcElement.id + '-micro')"
					placeholder="Username or email address" autocapitalize="off" autocomplete="off">
				<label id="login-username-micro" class="microtext"></label>
			</div>
			<div class="form-group">
				<input [(ngModel)]="user.password" id="login-password" class="form-control user-input" type="password"
					name="password" (keydown)="hideMicrotext($event.srcElement.id + '-micro')" placeholder="Password">
				<label id="login-password-micro" class="microtext"></label>
				<a routerLink="/forgot" class="option-btn">Forget password?</a>
			</div>
			<div class="form-group">
				<div>
					<button type="button" id="login-btn" (click)="login()" class="col-12 btn btn-primary login-btn">
						Log In
					</button>
				</div>
				<div class="options">
					<a routerLink="/register" class="option-btn">Create New Account</a>
				</div>
			</div>
		</form>
	</div>
</div>