<div id="keyValue" class="data-container">
    <table>
        <tr *ngFor="let jsonKey of getJsonKeys(json)">
            <td>
                <input disabled [ngModel]="jsonKey" name="reqUrl" type="text" class="key-input">
            </td>
            <td>
                <input disabled [(ngModel)]="json[jsonKey]" class="value-input">
            </td>
            <td class="action-sector">
                <i (click)="openEdit(jsonKey, json[jsonKey])" class="fas fa-pen action-icon"></i>
                <i (click)="delete(jsonKey)" class="fas fa-times action-icon" style="margin-left: 15px;"></i>
            </td>
        </tr>
        <tr>
            <td>
                <input id="new-key" [(ngModel)]="key" (keyup.enter)="add()" placeholder="KEY" type="text"
                    class="key-input">
            </td>
            <td>
                <input [(ngModel)]="value" (keyup.enter)="add()" placeholder="VALUE" type="text" class="value-input">
            </td>
            <div class="add-btn" (click)="add()" [ngClass]="{'btn-active': isAllowToAdd()}">Add</div>
        </tr>
    </table>
    <card *ngIf="isEditMode" [title]="'Edit Variable'" [width]="400" [height]="260" [onClose]="closeEdit">
        <div class="edit-input-sector">
            <div class="edit-title">Key</div>
            <input disabled [ngModel]="editKey" type="text" class="key-input">
        </div>
        <div class="edit-input-sector">
            <div class="edit-title">Value</div>
            <input [(ngModel)]="editValue" (keyup.enter)="saveEdit()" placeholder="VALUE" type="text"
                class="value-input">
        </div>
        <div class="add-btn btn-active edit-save-btn" (click)="saveEdit()">Save</div>
    </card>
</div>