.result-sector {
    text-align: left;
    font-size: 12px;
}

.result-type-container {
    margin-top: 3px;
}

.result-icon {
    height: 16px;
    font-size: 14px;
    width: 20px;
}

.success-icon {
    color: #28a745;
}

.fail-icon {
    color: #dc3545;
    margin-left: 1px;
    width: 19px;
}

.timeout-icon {
    color: #ff7600;
    font-size: 12px;
    margin-left: -1px;
    width: 21px;
    height: 14px;
}

.break-line {
    margin-right: 5px;
}

.sending-icon {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}