.card-body {
    padding: 15px;
}

.body-container {
    height: 300px;
    position: relative;
    overflow-y: auto;
}

.save-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.save-icon:hover {
    color: #696969;
}

.method-select {
    width: 80%;
    display: inline-block;
}

.http-data {
    width: 100%;
}

.microtext {
    font-size: 11px;
    position: absolute;
    color: var(--microtext-color) !important;
    line-height: 16px;
    left: 0;
}

.test-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 0;
    border: 1px solid #797979;
    border-radius: 3px;
    width: 55px;
    text-align: center;
    user-select: none;
    background-color: #f8f9fa;
}

.test-btn-main {
    bottom: 11px;
    left: calc(50% - 50px);
    font-size: 14px;
    width: 80px;
}

.tab-container {
    width: 100%;
    height: calc(100% - 70px);
}

.tab-content {
    width: 100%;
    height: 100%;
}

:disabled {
    background-image: none !important;
    padding: 0px 8px !important;
    border-radius: 5px !important;
    cursor: default !important;
    user-select: text !important;
    box-shadow: 0px 0px 2px 0px #a7a7a7;
}