<div id="requestCard">
    <card [title]="request.name.trim() || 'New Request'" [width]="750" [height]="500" [disableEscape]="isTestRequest">
        <div class="card-body">
            <form style="position: relative;" autocomplete="off">
                <div class="form-group">
                    <input id="name" [(ngModel)]="request.name" maxlength="25" name="reqName" placeholder="Name"
                        type="text" class="form-control" (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="name-micro" class="microtext"></label>
                </div>
                <div class="form-group" style="margin-bottom: 3px;">
                    <table class="http-data">
                        <tr>
                            <td>
                                <select [(ngModel)]="request.method" name="methodSelect"
                                    class="form-control method-select">
                                    <option [value]="method.GET">{{method.GET}}</option>
                                    <option [value]="method.POST">{{method.POST}}</option>
                                    <option [value]="method.PUT">{{method.PUT}}</option>
                                    <option [value]="method.DELETE">{{method.DELETE}}</option>
                                </select>
                            </td>
                            <td style="position: relative;">
                                <input id="url" [(ngModel)]="request.url" name="reqUrl" placeholder="URL" type="text"
                                    class="form-control" (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                                <label id="url-micro" class="microtext"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="body-container">
                    <request-navbar [tabs]="tabs"></request-navbar>
                    <div class="tab-container">
                        <request-body class="tab-content" *ngIf="tabs[0].isActive" [request]="request"></request-body>
                        <request-headers [headers]="request.headers" class="tab-content" *ngIf="tabs[1].isActive">
                        </request-headers>
                        <request-cookies [cookies]="request.cookies" class="tab-content" *ngIf="tabs[2].isActive">
                        </request-cookies>
                    </div>
                </div>
            </form>
        </div>
        <div (click)="testRequest()" class="test-btn">Test</div>
        <test-request *ngIf="isTestRequest" [request]="request"></test-request>
        <i (click)="addRequest()" class="save-icon far fa-arrow-alt-circle-right"></i>
    </card>
</div>