<div id="userEdit">
    <card [title]="'Edit User'" [width]="380" [height]="285">
        <div class="body">
            <div class="loader-overlay" *ngIf="isLoading"></div>
            <loader-spinner class="loader" *ngIf="isLoading"></loader-spinner>
            <form autocomplete="off">
                <div class="form-group">
                    <i class="fas fa-user input-icon"></i>
                    <input id="edit-username" name="username" [(ngModel)]="userEdit.username" placeholder="Username"
                        type="text" class="form-control user-input"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="edit-username-micro" class="microtext"></label>
                </div>
                <div class="form-group">
                    <i class="fas fa-at input-icon"></i>
                    <input id="edit-email" name="email" [(ngModel)]="userEdit.email" placeholder="Email address"
                        type="text" class="form-control user-input"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="edit-email-micro" class="microtext"></label>
                </div>
                <div class="form-group">
                    <i class="fas fa-lock input-icon"></i>
                    <input id="edit-password" name="password" [(ngModel)]="userEdit.password" placeholder="Password"
                        type="password" class="form-control user-input"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')">
                    <label id="edit-password-micro" class="microtext"></label>
                </div>
            </form>
            <i (click)="saveEdit()" class="save-icon far fa-arrow-alt-circle-right"></i>
        </div>
    </card>
</div>