<div id="resetPassword" [ngClass]="{'card-container-mini': !isValid}" class="card-container">
    <header class="header"></header>
    <div class="data-container">
        <div class="title">Reset Password</div>
        <loader-spinner *ngIf="isLoading" class="loader"></loader-spinner>
        <div *ngIf="!isLoading">
            <div *ngIf="!isValid" class="invalid-text">
                <p>
                    <strong>Your email to reset your password is either invalid or has expired.</strong>
                </p>
                <p>Please click <a class="resend-btn" href="/forgot">here</a> to send the email again.</p>
            </div>
            <form *ngIf="isValid" (keyup.enter)="setPassword()">
                <div class="form-group">
                    <input [(ngModel)]="newPassword.text" id="password-text" class="form-control user-input"
                        type="password" name="password-text" (keydown)="hideMicrotext($event.srcElement.id + '-micro')"
                        placeholder="New Password" autocapitalize="off" autocomplete="off">
                    <label id="password-text-micro" class="microtext"></label>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="newPassword.confirm" id="password-confirm" class="form-control user-input"
                        type="password" name="password-confirm"
                        (keydown)="hideMicrotext($event.srcElement.id + '-micro')" placeholder="Confirm New Password"
                        autocapitalize="off" autocomplete="off">
                    <label id="password-confirm-micro" class="microtext"></label>
                </div>
                <button class="save-btn" (click)="setPassword()">Save</button>
            </form>
        </div>
    </div>
</div>
