.cell {
    min-width: 145px;
    max-width: 145px;
    height: 145px;
    border: 1px solid gray;
    position: relative;
    user-select: none;
}

.results-container {
    width: 100%;
    height: calc(100% - 45px);
    position: absolute;
    top: 45px;
    left: 0;
    overflow: auto;
    padding: 10px;
}