.cell {
    min-width: 140px;
    max-width: 140px;
    height: 140px;
    border: 0.5px solid gray;
    position: relative;
    user-select: none;
}

.results-container {
    width: calc(100% - 30px);
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    left: 0;
    overflow: auto;
    padding: 10px 0 0;
    margin-left: 15px;
}