.loader-spinner {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 45px);
}

.documents-container {
    width: 100%;
    max-height: 100%;
    height: auto;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.document {
    width: 25%;
    height: 100px;
}