<div id="pageNotFound">
    <div class="container">
        <div class="head-container">
            <label class="head-label">Bomba</label>
            <img src="assets/logo/icon.png" class="head-icon">
        </div>
        <h1 class="main-text">Page Not Found</h1>
        <div class="sub-text">The link you had clicked was removed or the page is not active.</div>
        <img class="random-image" src="assets/monsters/{{monsterImage}}">
        <br>
        <span class="back-link" (click)="mainRoute()">Back to the main page</span>
    </div>
</div>