<div id="resultInfo" *ngIf="!request.isEmpty && result">
    <div class="result-sector">
        <i *ngIf="result.isStart && (result.success + result.fail < request.amount)"
            class="far fa-hourglass sending-icon"></i>
        <div *ngIf="result.success + result.fail == request.amount">
            <div *ngIf="result.success != 0" class="result-type-container">
                <i class="fas fa-check result-icon success-icon"></i>
                <span [hidden]="result.success == 0 || result.fail == 0">
                    <span class="break-line">|</span> <span>{{result.success}}</span>
                </span>
            </div>
            <div *ngIf="result.fail != 0" class="result-type-container">
                <i class="fas fa-times result-icon fail-icon"></i>
                <span *ngIf="result.success != 0 && result.fail != 0">
                    <span class="break-line">|</span> <span>{{result.fail}}</span>
                </span>
            </div>
        </div>
    </div>
</div>