.result-sector {
    text-align: left;
    font-size: 12px;
}

.result-type-container {
    margin-top: 8px;
}

.result-icon {
    margin-right: 5px;
    height: 16px;
    font-size: 14px;
}

.success-icon {
    color: #28a745;
}

.fail-icon {
    color: #dc3545;
    margin-right: 9px;
}

.break-line {
    margin-right: 5px;
}

.sending-icon {
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}