.result-sector {
    text-align: right;
    font-size: 12px;
}

.result-icon {
    margin-left: 3px;
}

.success-icon {
    color: #28a745;
}

.fail-icon {
    color: #dc3545;
}

.break-line {
    margin-left: 3px;
}