<div id="requests">
    <div class="cards-top">
        <span>Requests</span>
        <div *ngIf="requestCards.length > 0" class="plus-icon-container" (click)="isShowNewRequestCard=true;">
            <i class="far fa-plus-square"></i>
        </div>
    </div>
    <div class="cards-container">
        <div id="card-{{i}}" class="card draggable" (click)="openRequestEdit(card)"
            *ngFor="let card of requestCards; index as i" [title]="card.name">
            <div class="card-name">{{card.name}}</div>
        </div>
        <div *ngIf="requestCards.length == 0" class="card add-card" (click)="isShowNewRequestCard=true;">
            <div class="new-card-content">
                <div class="plus-txt">New Request</div>
            </div>
        </div>
    </div>
    <request-card [selectedRequest]="selectedRequest" *ngIf="isShowNewRequestCard"></request-card>
</div>