.cards-top {
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    border-bottom: 0.5px solid #adadad;
}

.cards-container {
    position: relative;
    overflow: auto;
    height: calc(100% - 30px);
    padding-bottom: 5px;
}

.card {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 6px 1px #a1a1a1;
    display: inline-block;
    margin: 15px 0 0 15px;
    position: relative;
    font-size: 14px;
}

.add-card {
    border: 1px dashed black;
    box-shadow: none;
    background-color: var(--main-background-color);
    cursor: pointer;
}

.add-card:hover {
    background-color: #e4e4e4;
}

.new-card-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-name {
    width: 100%;
    height: 100%;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.plus-icon-container {
    cursor: pointer;
    position: absolute;
    right: 16px;
    font-size: 22px;
}

.plus-icon-container:hover {
    color: #656565;
}