#requests {
    --cards-top-height: 35px;
}

.cards-top {
    font-size: 16px;
    height: var(--cards-top-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-bottom: 0.5px solid #adadad;
}

.cards-container {
    position: relative;
    overflow: auto;
    height: calc(100% - var(--cards-top-height));
    padding-bottom: 14px;
}

.card-sector {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px 1px #a1a1a1;
    display: inline-block;
    margin: 15px 0 0 15px;
    position: relative;
    font-size: 14px;
}

.add-card {
    border: 1px dashed black;
    box-shadow: none;
    background-color: var(--main-background-color);
    cursor: pointer;
}

.add-card:hover {
    background-color: #eeeded;
}

.new-card-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-name {
    width: 100%;
    font-size: inherit;
    display: inline-block;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    padding: 0px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.top-icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.plus-icon {
    right: 16px;
}

.settings-icon {
    left: 16px;
}

.top-icon:hover {
    color: #656565;
}

.delete-request-icon {
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}