.card-container {
    width: 600px;
    height: 370px;
    box-shadow: 1px 1px 6px 1px #c9c9c9;
    background-color: #ffffff;
    position: relative;
}

.user-name-container {
    width: 100%;
    height: 100px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info-container {    
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    padding-left: 15px;
    padding-right: 15px;
}

.info-table {
    width: 100%;
    height: calc(100% - 24px);
    font-size: 16px;
}

.info-table td {
    text-align: center;    
    width: 50%;
    height: 50%;
}

.info-title {
    margin-bottom: 46px;
    font-size: 18px;
    border-bottom: 0.5px solid #b7b7b7;
    width: 80%;
    margin: auto;
    padding-bottom: 8px;
}

.info-data {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin-top: 8px;
}

.check-admin {
    font-size: 18px;
    cursor: pointer;
}

.top-icon {
    position: absolute;
    top: 15px;
    cursor: pointer;
    font-size: 18px;
}

.edit-icon {
    left: 15px;
}

.delete-icon {
    right: 15px;
}
